<section class="complete-post">
  <div class="post-head">
    <div>Post #<%= @post.id %> <%= @user.name %></div>
    <div>Comments: 
      <%= @post.comment_counter.nil? ? 0 : @post.comment_counter%>
      , Likes: 
      <%= @post.like_counter.nil? ? 0 : @post.like_counter %></div>
  </div>
  <div class="post-body"><%= @post.text %></div>
  <div class="comments">
    <h3>Comments:</h3>
    <br>
    <%= render partial: "shared/comment", collection: @post.comments %>
  </div>
</section>
